@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
  
    --main-color: rgb(0, 166, 135);
    --main-color-darker: rgb(4, 139, 115);
    --third-color: rgb(251, 200, 22);
    --white-color: #ffffff;
    --background-color: #f8f8f8cc;
    --background-color-two: rgb(231, 231, 231);
    --error-color: #ff2323cc;
    --dark-color: #1E1E1E;
    --border-color: #76768013;
}
    
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
  
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
  
button,
input,
textarea,
select {
    border: none;
    font-family: 'Montserrat'; 
}
  
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.globalContainer {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--background-color);
    position: relative;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--background-color-two);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
}

.header div {
    color: var(--dark-color);
    font-size: 25px;
    font-weight: bold;
}

.header img {
    height: 75px;
    margin-right: 15px;
}

.button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button div {
    display: flex;
    width: 200px;
    height: 49px;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main-color);
    cursor: pointer;
    transition: background-color .3s;
}

.button div:hover {
    background-color: var(--main-color-darker);
}

.book {
    display: flex;
    width: 100%;
    min-height: 1vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bookNextORPrevious {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bookNextORPrevious div {
    display: flex;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transition: font-size .3s, color .3s, border .3s;
}

.bookNextORPrevious div:hover {
    font-size: 30px;
    color: var(--main-color-darker);
    border: 2px solid var(--main-color-darker);
}

.bookPage {
    display: flex;
    flex: 3;
    width: 100%;
    min-height: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.bookPageLeft {
    display: flex;
    width: 90%;
    min-height: 85%;
    border: 7px solid var(--dark-color);
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bookPageRight {
    display: flex;
    width: 90%;
    min-height: 85%;
    border: 7px solid var(--dark-color);
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bookPageTitle {
    color: var(--dark-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.bookPageDesc {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.bookPageImg {
    display: flex;
    flex-grow: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

.bookPageImg img {
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    margin-bottom: 20px;
}

.bookPageIndex {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    font-size: 20px;
    color: var(--dark-color);
    font-weight: 600;
    margin-top: 20px;
}